<form action="/admin/produtos/criar" method="POST">
  <input
    value=""
    name="id"
    type="hidden"
    placeholder="CAMPO ID ESCONDIDO. INFORMAÇÃO PARA O BACKEND"
  />
  <input id="nome" type="text" placeholder="nome" />
  <input id="descricao" type="text" placeholder="descricao" />
  <input id="sabor" type="text" placeholder="sabor" />
  <input id="preco" type="text" placeholder="preco" />
  <input id="estoque" type="text" placeholder="estoque" />
  <input
    id="exibirAoCliente"
    type="checkbox"
    checked="checked"
    placeholder="exibir ao cliente"
  />
  <button type="submit">salvar</button>
</form>