<script src="https://unpkg.com/feather-icons"></script>
<div class="footer-main">
    <div class="footer-icons">
        <i data-feather="instagram"></i>
        <i data-feather="facebook"></i>
        <script>
            feather.replace()
        </script>
    </div>
    <div class="footer-addresses">
         <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
    </div>
    <div class="footer-baseboard">
        <p class="copyright">Company Name © year (aaaa)</p>
    </div>
</div>