<script src="https://unpkg.com/feather-icons"></script>
<div class="footer-main">
    <div class="footer-icons">
        <a href="#"><img src="../images/whatsapp.svg" alt="'" width="24rem"></a>
        <a href="#"><i data-feather="instagram"></i></a>
        <a href="#"><i data-feather="facebook"></i></a>

        <script>
            feather.replace()
        </script>
    </div>
    <div class="footer-addresses">
         <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Serviços</a></li>
                <li class="list-inline-item"><a href="#">Sobre</a></li>
                <li class="list-inline-item"><a href="#">Termos</a></li>
                <li class="list-inline-item"><a href="#">Política de Privacidade</a></li>
            </ul>
    </div>
    <div class="footer-baseboard">
        <p class="copyright">Guloseimas da val © 2022</p>
    </div>
</div>