<article>
    <div class="nav-main">
    <div class="nav-paginas">
        <h4>Home</h4>
        <h4>Produtos</h4>
        <h4>Sobre</h4>
    </div>
    <div class="nav-sobre">
        <p>Faça seu pedido</p>
        <p>Contato</p>
    </div>
</div>

<div class="circulo-logo">
</div>
<div class="titulo">
    <h2>Guloseimas da Val</h2>
</div>
</article>