<div class="nav-main">
    <div class="nav-paginas">
        <h4>Menu</h4>
        <h4>Produtos</h4>
        <h4>Sobre</h4>
    </div>
    <div class="nav-sobre">
        <p>Faça seu pedido</p>
        <p>Contato</p>
    </div>
</div>



