<div class="nav-main">
    <div class="nav-paginas">
        <a href="#"><h4>Home</h4></a>
        <a href="#"><h4>Produtos</h4></a>
        <a href="#"><h4>Sobre</h4></a>
    </div>
    <div class="nav-sobre">
        <a href="#"><p>Faça seu pedido</p></a>
        <a href="#"><p>Contato</p></a>
    </div>
</div>
<div class="circulo-logo">
</div>
<div class="titulo">
    <h2>Guloseimas da Val</h2>
</div>