* {
    /* background-color: rgb(255, 188, 188); */
    /*border: 1px solid black;*/
    margin: 0;
    text-align: center;
}

html{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body{
    background-color: rgb(255, 188, 188);  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main{
    margin-left: 8.8rem;
    margin-right: 8.8rem;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid black;
}

.main h1{
    flex:1;
}

/* Navbar */

.nav-main{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    height: 5rem;
    position: relative;
}

.nav-paginas, .nav-sobre, .nav-paginas h4, .nav-sobre p{
    display: flex;
    flex: 50%;
    margin-left: 2%;
    margin-right: 2%;
    gap: 10%;
    /* padding: 2% 0; */
    align-items: center;
    font-size: 1rem;
    color: rgb(60, 60, 60);
}

.nav-paginas, .nav-paginas h4{
    justify-content: start;
}


.nav-sobre{
    justify-content:end;
}

.nav-sobre p{
   width: max-content;
   justify-content: center;
}

a, i:link { text-decoration: none; }


a, i:visited { text-decoration: none; color: rgb(60, 60, 60); }


a, i:hover { text-decoration: none; }


a, i:active { text-decoration: none; }

/* Logo */

.circulo-logo{
    display: inline-block;
    border-radius: 100%;
    background-color: azure;
    width: fit-content;
    width: 8rem;
    height: 7rem;
    vertical-align: middle;
    margin-top: -3rem;
    position: relative;
    border: 1px solid black;
}

/* Título do Site */

.titulo{
    padding-bottom: 2rem;
}

/* Produtos usuário */

.grid-produtos{
    display: grid;
    grid-template-columns: 50% 50%;
}
.card-produtos{
    border: 1px solid black;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.card-descricao{
    flex: 30%;
    display:block;
}

.descricao-2, p{
    block-size: 70%;
    font-size: 0.8rem;
    
}

.card-imagem>img{
    flex: 70%;
    width: 100%;
    height: 60%;
}

/* Footer */

footer{
    min-height:50px;
    position:static;
}

.footer-main{
    display: block;
    background-color: grey;
    height: fit-content;
    /* justify-content: center; */
    justify-content: flex-end;
}

.footer-icons{
    display: flex;
    gap: 5%;
    justify-content: center;
    padding-top: 1rem;
}

.footer-addresses{
    padding: 1.5rem;
}

.footer-addresses ul, li a{
    display: flex;
    justify-content: center;
    gap: 3%;
    text-decoration: none;
    list-style: none;
    color:rgb(60, 60, 60)
}

.footer-baseboard{
    font-size: 0.8rem;
    padding-bottom: 1rem;
    color: rgb(60, 60, 60)
}