* {
    /* background-color: rgb(255, 188, 188); */
    /* border: 1px solid black;  */
    margin: 0;
    text-align: center;
}

body{
    background-color: rgb(255, 188, 188);  
    min-height: 100vh;
    /* margin:0; 
    display:flex;
    flex-direction:column;  */
}

article{
    flex:1; 
}

/* Navbar */

.nav-main{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    height: 5rem;
    position: relative;
}

.nav-paginas, .nav-sobre{
    display: flex;
    flex: 50%;
    margin-left: 2%;
    margin-right: 2%;
    word-spacing: 4px;
    gap: 10%;
    padding: 2% 0;
    font-size: 1rem;
}

.nav-paginas{
    justify-content: start;
}

.nav-sobre{
    justify-content: end;
}

/* Logo */

.circulo-logo{
    display: inline-block;
    border-radius: 100%;
    background-color: azure;
    width: fit-content;
    width: 8rem;
    height: 7rem;
    vertical-align: middle;
    margin: -10rem;
    position: relative;
    border: 1px solid black;
}

/* Título do Site */

.titulo{
    margin-top: 5rem;
    padding-bottom: 2rem;
}

.body{
    margin-left: 8.8rem;
    margin-right: 8.8rem;
}

/* Footer */

footer{
    min-height:50px;
}

.footer-main{
    display: block;
    background-color: grey;
    height: fit-content;
    justify-content: center;
}

.footer-icons{
    display: flex;
    gap: 5%;
    justify-content: center;
}

.footer-addresses ul, li a{
    display: flex;
    justify-content: center;
    gap: 3%;
    text-decoration: none;
    list-style: none;
}



.footer-baseboard{
    
}